<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script>

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel ="stylesheets" href="{{ asset('css/index.css') }}">

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar shadow-1 primary">
            <a href="#"  class="navbar-brand">Lsr-Game</a>
            <div class="navbar-menu ml-auto">
                <div class="dropdown" id="example-dropdown" data-ax="dropdown">
                    <button type="button" class="btn shadow-1 rounded-1 primary dropdown-trigger">
                        Nos différentes salles
                    </button>
                    <div class="dropdown-content white right-aligned shadow-1 rounded-1">
                        <a class="dropdown-item" href="#">Salle Annecy</a>
                        <a class="dropdown-item" href="#">Salle Meythet</a>
                        <a class="dropdown-item" href="#">Salle Syllingy</a>
                        <a class="dropdown-item" href="#">Salle Cran-Gevrier</a>
                        <a class="dropdown-item" href="#">Salle Seynod</a>
                        <a class="dropdown-item" href="#">Salle Vieugy</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="footer primary">
        Copyright © 2020 - Example
    </footer>
</body>
</html>